# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependency directories
jspm_packages/
bower_components/

# Build directories
dist/
build/

# dotenv environment variables file
.env

# Temporary files
*.tmp
*.temp

# Editor and OS-specific files
.DS_Store
Thumbs.db

# Coverage directory for test coverage reports
coverage/

# npm package lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Debugger and profiling files
*.pid
*.seed
*.pid.lock

# VS Code settings
.vscode/

# IDE specific files
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
